.therapist-detail-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Craftwork Grotesk", sans-serif;
}

.therapist-card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    font-family: "Craftwork Grotesk", sans-serif;
}

.therapist-photo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-right: 20px;
}

.therapist-photo {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.therapist-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #00410a;
    margin-bottom: 20px;
}

.book-session-btn {
    padding: 13px 18px;
    font-size: 17px;
    font-weight: bold;
    color: #00410a;
    background-color: #fef9c3;
    border: 2px solid #00410a;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-family: "Craftwork Grotesk", sans-serif;
}

.book-session-btn:hover {
    background-color: #00410a;
    color: #fcfec3;
}

.therapist-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    color: #00410a;
    font-family: "Craftwork Grotesk", sans-serif;
    font-weight: bold;
    padding-top: 8px;
    margin-left: 20px;
}

.therapist-specialization {
    margin-top: 20px;
}

.therapist-specialization h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00410a;
    margin-bottom: 10px;
}

.therapist-specialization ul {
    font-size: 1rem;
    color: #00410a;
    list-style-type: disc;
    margin-left: 20px;
}

.therapist-details {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.therapist-details p,
.therapist-details-two p {
    margin-left: 40px;
}

.details-line {
    display: flex;
    align-items: center;
}

.details-line img {
    margin-right: 8px;
}

.therapist-details-two {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ther-image {
    width: 31px;
    height: 31px;
}

.therapist-specialization ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.therapist-specialization li {
    margin-bottom: 5px;
}

#langimg {
    width: 22px;
    height: 22px;
}

.therapist-specialization {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #00410a;
    font-family: "Craftwork Grotesk", sans-serif;
    font-weight: bold;
    margin-right: 15px;
    background-color: #d9f99d;
    padding: 20px 20px 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: fit-content;
}

.therapist-languages {
    margin-top: 45px;
    font-size: 18px;
    color: #00410a;
    font-family: "Craftwork Grotesk", sans-serif;
    font-weight: bold;
}

.therapist-languages p {
    font-size: 16px;
    margin-top: 12px;
    margin-left: 30px;
}